<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>Motionsmallar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="jquery.ata.js"></script>
    <script src="mall.js"></script>
    <link rel="stylesheet" href="mall.css" type="text/css">
  </head>
  <body>
    <div id="content" class="flex1">
      <form action="/generate">
        <h1>
          <select name="document_type" id="document_type">
            <option value="motion">Motion</option>
            <option value="proposition">Proposition</option>
            <option value="reply">Motionssvar</option>
          </select>
          angående<br><input type="text" name="title" placeholder="webbaserade motionsmallar">
        </h1>

        <h3>
          <input type="text" name="meeting" placeholder="Glögg" class="right">-<label for="meeting">SM</label><br>
          <label for="date">Datum</label><input type="text" name="date" placeholder="2011-11-21">
        </h3>

        <fieldset>
          <legend>Bakgrund</legend>
          <div class="centered">
            <textarea name="background" id="background" placeholder="Folk är lata och tycker att det är jobbigt att skriva motioner i ren LaTeX"></textarea>
          </div>
        </fieldset>

        <fieldset>
          <legend>Förslag till beslut</legend>

          <p>
            Mot bakgrund av ovanstående yrkar jag:
          </p>

          <ul id="items">
            <li><b>att</b> <textarea name="items[0]" id="items_0" placeholder="Någon bygger webbaserade motionsmallar som kan genera färdig LaTeX-kod åt latmaskarna."></textarea></li>
          </ul>
          <a href="#" id="add_item">Lägg till att-sats</a>
        </fieldset>

        <fieldset>
          <legend>Undertecknat:</legend>
          <ul id="authors">
            <li><input type="text" name="authors[0]" id="authors_0" placeholder="Martin Frost"></li>
          </ul>
          <a href="#" id="add_author">Lägg till person</a>
        </fieldset>
        <div>
          <input type="submit" value="Generera LaTeX-kod">
        </div>
      </form>
      <div class="push"></div>
    </div> <!-- #content -->
    <footer>
      <p>Skapad av <a href="http://martinfrost.name">Martin Frost</a></p>
    </footer>
  </body>
</html>
