<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0097a7" />
    <title>Motionsmall</title>
    <script src="https://unpkg.com/vue@2.6.14"></script>
    <link rel="stylesheet" href="https://aurora.datasektionen.se/" type="text/css" />
    <script type="text/javascript">
    window.methone_conf = {
        system_name: "motioner",
        color_scheme: "deep_purple",
        links: [
            { str: "Motion", href: "/motion" },
            { str: "Proposition", href: "/proposition" },
            { str: "Motionssvar", href: "/reply" },
        ]
    }
    </script>
    <link rel="stylesheet" type="text/css" href="/static/font/cmun-serif.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div id="methone-container-replace"></div>
    <div id="application" class="deep-purple">
      <header>
        <div class="header-inner">
          <div class="row">
            <div class="header-left col-md-2">
              <a href="#" @click="submittex" class="primary-action">TeX</a>
            </div>
            <div class="col-md-8">
              <h2>Motioner</h2>
            </div>
            <div class="header-right col-md-2">
              <a href="#" @click="submitpdf" class="primary-action">PDF</a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </header>

      <div id="frame">
        <div class="page">
          <form ref="form" action="/motion.pdf" method="POST">
            <h1>
              <select name="document_type" id="document_type" v-model="document_type">
                <option value="motion">Motion angående</option>
                <option value="proposition">Proposition angående</option>
                <option value="reply">Svar på motion angående</option>
              </select><br>
              <input @keyup="keyUpTitle()"
                     v-model="title"
                     type="text"
                     name="title"
                     placeholder="webbaserade motionsmallar">
            </h1>

            <br>

            <div class="meeting">
              <input @keyup="keyUpMeeting()"
                     v-model="meeting"
                     type="text"
                     name="meeting" class="name"
                     placeholder="Glögg"><label for="meeting">-SM</label>
              <br>
              <input @keyup="keyUpDate()"
                     v-model="date"
                     type="date"
                     name="date"
                     placeholder="2011-11-21"
                     class="date">
            </div>

            <div>
              <h2>Bakgrund</h2>
              <textarea @keyup="keyUpBackground($event)"
                        v-model="background"
                        name="background"
                        id="background"
                        placeholder="Folk är lata och tycker att det är jobbigt att skriva motioner i ren LaTeX.">
              </textarea>
            </div>

            <div>
              <h2>Förslag till beslut</h2>

              <p>
                Mot bakgrund av ovanstående yrkar jag:
              </p>

              <ul id="items">
                <li v-for="item, idx in items">
                  <b>att<sub>{{ '{{ idx+1 }}' }}</sub></b>
                  <textarea @keyup="keyUpAtt(idx, $event)"
                            v-bind:name="item.content ? 'items[]' : 'trash'"
                            v-model="item.content"
                            class="att"
                            placeholder="fräscha upp motionssystemet och göra det lättare att använda">
                  </textarea>
                </li>
              </ul>
            </div>

            <div>
              <h2>Undertecknat</h2>
              <ul id="authors">
                <li v-for="author, idx in authors">
                  <input @keyup="keyUpAuthor(idx, $event)"
                         type="text"
                         v-bind:name="author.name ? 'authors[]' : 'trash'"
                         v-model="author.name"
                         placeholder="Jonas Dahl">
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      new Vue({
        el: '#application',
        data: {
          title: localStorage.getItem('title'),
          meeting: localStorage.getItem('meeting'),
          date: localStorage.getItem('date'),
          items: JSON.parse(localStorage.getItem('items')) || [{content:''}],
          authors: JSON.parse(localStorage.getItem('authors')) || [{name:''}],
          background: localStorage.getItem('background') || '',
          document_type: window.location.pathname.substring(1) || 'motion'
        },
        methods: {
          autogrow: function(e) {
            e.target.style.height = e.target.scrollHeight + 'px'
          },

          keyUpTitle: function () {
            localStorage.setItem('title', this.title)
          },
          keyUpMeeting: function () {
            localStorage.setItem('meeting', this.meeting)
          },
          keyUpDate: function() {
            localStorage.setItem('date', this.date)
          },

          keyUpBackground: function(e) {
            this.autogrow(e)

            localStorage.setItem('background', this.background)
          },
          keyUpAtt: function(idx, e) {
            this.autogrow(e)
            this.items = this.items.filter((x, idx) => x.content.length > 0 || idx === this.items.length - 1)
            if (idx === this.items.length - 1 && this.items[idx].content.length > 0) {
              this.items.push({content:''})
            }


            localStorage.setItem('items', JSON.stringify(this.items))
          },
          keyUpAuthor: function(idx, e) {
            this.authors = this.authors.filter((x, idx) => x.name.length > 0 || idx === this.authors.length - 1)
            if (idx === this.authors.length - 1 && this.authors[idx].name.length > 0) {
              this.authors.push({name:''})
            }

            localStorage.setItem('authors', JSON.stringify(this.authors))
          },
          submittex: function() {
            this.$refs.form.action = '/motion.tex'
            this.$refs.form.submit()
          },
          submitpdf: function() {
            this.$refs.form.action = '/motion.pdf'
            this.$refs.form.submit()
          }
        }
      })
    </script>
    <script type="text/javascript" src="//methone.datasektionen.se/bar.js"></script>
  </body>
</html>
